.cartPage{
    background-color: #0F1111;
    padding: 70px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cartItems{
    width: 70%;
}
.cartItemCard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}
.cartItemInfo{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
}
.cartItemInfo img{
    width: 200px;
    height: auto;
}
.cartItemInfo div{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    color: white;
}
.cartItemQuantity{
    font-size: 20px;
}
.cartItemDelete{
    padding-top: 20px;
}
.cartItemDelete ion-icon{
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.cartItemInfo span{
    cursor: pointer;
}
.subAction{
    margin-left: 20px;
    margin-right: 10px;
}
.addAction{
    margin-left: 10px;
}
.checkoutContainer{
    width: 25%;
    display: block;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.checkoutAmount{
    font-size: 20px;
    width: 90%;
}
.checkoutAction{
    width: 70%;
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
}
.checkoutAction:hover{
    background-color: white;
    color: #0F1111;
}
.checkoutFormContainer{
    color: grey;
}
.checkoutFormContainer .info{
    margin: 20px;
}
.checkoutFormContainer span{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(0, 140, 255);
}
.checkoutDetailsContainer{
    display: grid;
    grid-template-columns: 1fr 0fr;
    padding: 0 20px;
}
.orderDetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 10px 0;
}
.orderDetail label{
    color: white;
    font-size: 18px;
}
.orderDetail input{
    background-color: transparent;
    color: white;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 300px;
}
.checkoutFormContainer fieldset{
    width: calc(50% - 40px);
    border: 1px solid grey;
    height: 100px;
    margin: 20px 20px;
    border-radius: 5px;
    color: white;
}
.checkoutFormContainer textarea{
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 16px;
}
.checkoutFormContainer .orderAction{
    background-color: #0097fc;
    width: 200px;
    font-size: 20px;
    padding: 7px 0;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}
.checkoutFormContainer .orderAction:hover{
    background-color: #005ce6;
}

@media screen and (max-width: 1080px){
    .orderDetail{
        width: 350px;
    }
    .orderDetail input{
        width: 200px;
    }
}

@media screen and (max-width: 800px){
    .orderDetail{
        width: 500px;
    }
    .checkoutFormContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .checkoutFormContainer fieldset{
        width: 500px;
    }
    .checkoutDetailsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cartPage{
        flex-direction: column;
        align-items: center;
    }
    .checkoutContainer{
        width: 70%;
    }
    .cartItems{
        width: 90%;
    }
    .cartItemInfo{
        width: 80%;
        flex-direction: column;
        align-items: center;
    }
    .cartItemInfo div{
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .checkoutContainer{
        width: 80%;
    }
    .cartItemDelete{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .orderDetail{
        width: 300px;
    }
    .checkoutFormContainer fieldset{
        width: 300px;
    }
    .cartPage{
        padding: 0;
    }

}