.books-Section{
    border-top: 7px solid rgb(100, 100, 100);
    background-color: #0F1111;
    padding: 10px 0;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
.section-h{
    font-family: 'Merriweather', serif;
    font-size: 28px;
    padding: 10px 0px 0px 0px;
    color: white;
    text-align: center;
    margin: 0;
}
.section-p{
    font-family: 'PT Serif', serif;
    font-size: 24px;
    color: rgb(150, 150, 150);
    text-align: center;
    margin: 0;
}
.row{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.row div{
    width: 35%;
}
.row img{
    width: 35%;
    height: auto;
    min-width: 400px;
}
.row p{
    text-align: start;
}
.books-container-home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0fr;
    padding: 10px 20px;
}

@media screen and (max-width: 1000px) {
    .books-container-home{
        grid-template-columns: 1fr 1fr 0fr;
    }
    .row{
        flex-direction: column;
        justify-content: space-between;
    }
    .row div{
        width: 80%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .books-container-home{
        grid-template-columns: 1fr 0fr;
        padding: 10px;
    }
    .row img{
        min-width: 270px;
    }
}