.book-card{
    margin: 10px 10px;
    width: 175px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .5s;
}
.book-card:hover{
    transform: rotate(5deg);
}
.book-card img{
    width: 100%;
    height: 75%;
}
.card-details{
    width: 100%;
    height: 25%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card-title{
    margin: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;
    font-weight: bold;
    color: rgb(230, 230, 230);
    letter-spacing: 1px;
}
.card-subdetails{
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(200, 200, 200);
}
.card-author{
    overflow: hidden;
    margin: 0;
    width: 70%;
    height: 100%;
}
.card-views{
    margin: 0;
    width: 30%;
    height: 100%;
    text-align: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #33adff;
}
.card-views p{
    margin: 0;
    width: 50%;
    height: 100%;
}
.card-icon{
    padding-top: 2px;
}

@media screen and (max-width: 600px){
    .book-card{
        margin: 10px 0;
        width: 150px;
    }
    .card-author{
        font-size: 14px;
    }
}