.books-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0fr;
    padding: 0 20px;
}
.browse-screen{
    background-color: #0F1111;
    padding-top: 70px;
}
.categories-container{
    color: rgb(170, 170, 170);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0fr;
    padding: 10px 20px;
    line-height: 5px;
    box-shadow: inset 0 0 10px #000000;
}
.category{
    cursor: pointer;
    font-size: 18px;
}
.category:hover, .categories-triggers p:hover{
    color:  white;
}
.categories-triggers{
    padding: 10px 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color:  rgb(170, 170, 170);
    font-size: 20px;
}
.categories-triggers p{
    cursor: pointer;
}

.bookCardHolder{
    width: 175px;
    height: 300px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.detailsHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
}
.imgHolder{
    width: 100%;
    height: 75%;
    animation: pulse 2s infinite;
}
.titleHolder{
    background-color: #2b2b2b;
    width: 100%;
    height: 30%;
}
.subdetailsHolder{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}
.authorHolder{
    width: 50%;
    height: 100%;
    background-color: #2b2b2b;
}
.soldHolder{
    width: 30%;
    height: 100%;
    background-color: #2b2b2b;
}
@keyframes pulse {
	0% {
		background-color: #2b2b2b;
    }
    
    33% {
		background-color: #303030;
	}

	66% {
		background-color: #333333;
	}

	100% {
		background-color: #3a3a3a;
	}
}

@media screen and (max-width: 1000px) {
   .books-container{
        grid-template-columns: 1fr 1fr 0fr;
   }
   .categories-container{
        grid-template-columns: 1fr 1fr 1fr 0fr;
   }
}

@media screen and (max-width: 600px) {
    .books-container{
        grid-template-columns: 1fr 0fr;
   }
   .categories-container{
        grid-template-columns: 1fr 1fr 0fr;
    }
    .bookCardHolder{
        width: 150px;
    }
}